<div>
    <hr />
    <div class="voice-indent"></div>
    <div class="pattern-box" [ngClass]="{active: box.$active}" *ngFor="let box of boxes">
        <label>{{ box.index }}</label>
    </div>
    <hr />
</div>