@import "../synthesizer.variables";

:host {
    width: 100%;

    .voice-indent {
        display: inline-block;
        width: $pattern-left-indent;
    }

    .pattern-box {
        border: solid 2px white;
        display: inline-block;
        margin-left: $pattern-box-space;
        width: $pattern-box-width - 2;

        &.active {
            border: solid 2px $synth-bg-go;
        }

        label {
            padding-left: 10px;
        }
    }
}