@import "../../../mixins";
@import "../synthesizer.variables";

:host {
    .box {
        border: solid 1px black;
        display: inline-block;
        height: 40px;
        margin-right: 2px;
        vertical-align: middle;
        width: 40px;

        &.bg-go {
            background-color: $synth-bg-go;
        }

        &.bg-stop {
            background-color: $synth-bg-stop;
        }

        &.bpm {
            margin-right: -2px;
            width: 60px;
        }

        &.no-border {
            border: none;
        }

        input {
            @include label-mixin;
            border: none;
            display: inline-block;
            left: 12px;
            position: relative;
            top: 8px;
            width: 40px;
        }

        .fa, label {
            display: inline-block;
            left: 6px;
            position: relative;
            top: 4px;
        }

        label {
            padding: 5px 0 0 8px;
        }
    }
}