<div>
    <div class="box" [ngClass]="{'bg-stop': PlayerStateType[player.state] === 'Stopped'}">
        <i class="fa fa-stop fa-2x" (click)="onStop()"></i>
    </div>

    <div class="box" [ngClass]="{'bg-go': PlayerStateType[player.state] === 'Playing'}">
        <i class="fa fa-play fa-2x" (click)="onPlay()"></i>
    </div>

    <div class="box bpm">
        <input [disabled]="PlayerStateType[player.state] === 'Playing'"
               [(ngModel)]="sequence.beatsPerMinute" />
    </div>

    <div class="box bpm no-border"><label>BPM</label></div>
</div>