@import "../synthesizer.variables";

:host {
    width: 100%;

    header {
        display: inline;
        font-size: 3em;
        margin-left: $synth-left-indent;
    }

    .control-bar {
        float: right;
        margin-right: $synth-right-indent;
    }

    js808-player-controls {
        display: inline-block;
        margin-right: 20px;
    }

    js808-sequence-selector {
        display: inline-block;
    }
}