<div class="sequence-bar">
    <header>JS-808</header>

    <div class="control-bar">
        <js808-player-controls [player]="player"></js808-player-controls>
        <js808-sequence-selector (onSequenceChangeEvent)="onSequenceChange($event)"></js808-sequence-selector>
    </div>
</div>