$synth-bg-caution: #FFC107;
$synth-bg-go: #28A745;
$synth-bg-stop: #DC3545;

$synth-left-indent: 20px;
$synth-right-indent: 20px;

$pattern-box-height: 70px;
$pattern-box-space: 12px;
$pattern-box-width: 46px;
$pattern-left-indent: 350px - $pattern-box-space;
$pattern-right-indent: 20px;