<div>
    <!-- JS808 Synthesizer -->
    <js808-button-bar></js808-button-bar>
    <js808-sequence-bar [player]="player"></js808-sequence-bar>
    <js808-pattern-bar [player]="player"></js808-pattern-bar>
    <js808-parts-collection [player]="player"></js808-parts-collection>
</div>