@import "../synthesizer.variables";

:host {
    .voice {
        display: inline-block;
        text-align: right;
        width: $pattern-left-indent;

        span {
            display: inline-block;
            font-size: 1.6em;
            font-weight: 700;
            position: relative;
            text-transform: uppercase; 
            top: 25px;
        }
    }

    .box {
        border: solid 1px black;
        display: inline-block;
        height: $pattern-box-height;
        margin-left: $pattern-box-space;
        width: $pattern-box-width;

        .fa {
            display: inline-block;
            font-size: 1.2em;
            position: relative;
            top: 25px;
            left: 13px;
        }
    }
}