<div>
    <div class="voice"><span>{{ part.voice.name }}</span></div>
    <div class="box" [ngClass]="{active: step.$active}"
                     [ngStyle] = "{'background-color': step.$active ? part.voice.color : 'white'}"
                     *ngFor="let step of steps">
        <i class="fa" [ngClass]="{ 'fa-circle-thin': !step.value, 'fa-circle': step.value }"
                      (click)="toggleStepValue(step)"></i>
    </div>
</div>