<div>
    <select [(ngModel)]="currentSequenceName" (change)=onSequenceChange()>
        <option *ngFor="let sequence of allSequences" [value]="sequence.sequenceName">{{ sequence.sequenceName }}</option>>
    </select>
</div>