@import "../../../mixins";

:host {
    select {
        @include label-mixin;

        background-color: white;
        border-color: black;
        display: inline-block;
        height: 40px;
        vertical-align: middle;
    }
}